body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #e08a38;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    margin: 10px;
    
    
}

.menu a {
  
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.menu a img {
    
    
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* estea media queri se utiliza para aplicar estilos específicos cuando el ancho de la ventana del navegador es de 768 píxeles o menos*/


@media only screen and (min-width: 300px) and (max-width:768px) {
    .menu {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    
    }

    .menu li {
        
        margin: 10px 0;
    }
}